* {
  margin: 0 auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-family: Helvetica;
}

.background {
    background-color: LightGray;
}

.background_header {
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 90%;
  background-image: url(pics/wimberley.jpg);
  z-index: 100;
  }

.background_header p {
  color: white;
  font-size: 48px;
  margin: 120px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.desc, .nav {
  background-color: Gray;
  color: white;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
}

.desc {
  width: 90%;
}

.nav {
  width: 90%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.desc p {
  margin: 0 auto;
  width: 90%;
  padding: 40px
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  font-size: 1em;
  margin: 2% 6%;
  display: inline-block;
}
